<%- include('partials/head') %>
<!-- This dash (-) meaning the content inside will be treated as the html -->


<%-include('partials/navbar')%>
<h1>Welcome to cats cats cats</h1>
 <ul>
   <% for( cati of cata ){ %> 
    <li><%=cati %> </li> 
    <% } %> 
  </ul>




  <%- include('partials/tail') %>