<%- include('partials/head') %>



<%-include('partials/navbar')%>
    <h1>temlate<%=  4+2+1*4 %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum at alias quo quibusdam laborum vel placeat maxime tempora. Provident suscipit exercitationem doloremque eum quidem. Saepe aut, maiores repudiandae vel quibusdam sunt iste possimus quas facilis beatae deserunt, a error ut blanditiis? Quasi laudantium eligendi esse, quis sint ea necessitatibus aliquid obcaecati.</p>




<%-include('partials/tail')