<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Hello for edit</h1>
    <form method="post" action="/comments/<%=comm.id%>?_method=PATCH">
        <section>
            <textarea name="comment"><%= comm.comment  %> </textarea>
        </section>
        <button>Submit</button>
    </form>

</body>
</html>